SERPAPI_KEY=9b4cc516e43990c14b180ba3d8c46c1c9f0f7a453501ec29d74c7cda986379f5
PINATA_API_KEY=
PINATA_API_SECRET=
POLYGON_AMOY_RPC_URL=
DEPLOYER_PRIVATE_KEY=
CONTRACT_ADDRESS=
FACE_MATCH_THRESHOLD=0.40


